.card {
    width: 220px;
    height: 400px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card img {
    width: 200px;
    height: 250px;
}

.btn {
    background-color: var(--accent-color);
    color: var(--background-color);
    outline: none;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 30px;
}