.card {
    width: 220px;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card img {
    width: 200px;
    height: 250px;
}

