.card {
    width: 220px;
    height: 400px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
}

.card img {
    width: 220px;
    height: 250px;
    margin: auto;
}

.lastLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btn {
    background-color: var(--background-color);
    color: var(--accent-color);
    outline: none;
    border: 2px solid var(--accent-color);
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-size: 1.3rem;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formButton:hover {
    transition: 0.3s;
    cursor: pointer;
}

.title {
    font-size: 1.2rem;
}

.montserratRegular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5em;
}

.price {
    font-size: 1.2rem;
    font-weight: 550;
}

.formButton button {
    border: none;
    color: var(--accent-color);
    font-size: 1.3rem;
    font-weight: 700;
}

.formButton button:hover {
    cursor: pointer;
    text-shadow: 2px 2px 2px #bbb8b2;
    transition: 0.2s;
}

.formButton button:active {
    transition: 0.2s;
    text-shadow: none;
}

.quantity {
    color: var(--text-color);
    font-size: 0.9rem;
}