.container {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    height: 90%;
    justify-content: start;
    gap: 32px;
    row-gap: 50px;
    margin-top: 50px;
    padding: 25px;
}

.secondHeader {
    display: flex;
    justify-content: space-between;
}

.form {
    height: 25px;
    display: flex;
    justify-content: center;
    flex-grow: 4;
}

.form input {
    height: 25px;
    border-radius: 10px;
    border: 1px solid var(--border); 
    font-size: 1rem;
    padding: 5px;
    width: 100%;
    color: var(--text-color);
}

.form input:focus {
    outline: none;
}

.a {
    text-decoration: none;
    color: var(--text-color);
    flex-grow: 2;
    border-left: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.a:hover {
    transition: 0.4s;
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

img:hover {
    cursor: pointer;
}

h2:hover {
    cursor: pointer;
}

.noResultsMessage {
    width: 100%;
    text-align: center;
    margin-top: 20%;
    font-size: 1.8rem;
    color: var(--text-color);
}

@media (max-width: 880px) {
    .a {
        display: none;
    }
}

@media (max-width: 1300px) {
    .container {
        padding-right: 50px;
        padding-left: 50px;
    } 
}

@media (max-width: 1100px) {
    .container {
        padding: 25px;
    }
}

@media (max-width: 1000px) {
    .container {
        justify-content: space-around;
    }
}