.outerContainer {
    height: 100%;
    display: flex;
}

.checkout {
    margin-top: 50px;
    position: sticky;
    top: 50px;
    width: 33%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--border);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
}

.checkout p{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.checkout button {
    background-color: var(--accent-color);
    border: none;
    color: var(--background-color);
    height: 25px;
    border-radius: 15px;
    width: 80%;
    align-self: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    flex-grow: 2;
    width: 66%;
    align-self: flex-start;
}

.productCard {
    height: 200px;
    display: flex;
    width: 100%;
    min-width: 400px;
}

.leftSide {
    display: flex;
    align-items: center;
}

.leftSide img {
    width: 120px;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px;
    width: 75%;
}

.lastLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTitle {
    font-size: 1.2rem;
}

.cardPrice {
    font-size: 1.1rem;
}

.checkoutButton:hover {
    cursor: pointer;
    box-shadow: 2px 2px 2px var(--shadow);
    transition: 0.2s;
}

.noItems {
    text-align: center;
    padding: 150px;
    font-size: 1.4rem;
    color: var(--text-color);
}

@media (max-width: 850px) {
    .outerContainer {
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
    }

    .checkout {
        width: 75%;
        margin: auto;
    }

    .container {
        width: 100%;
    }
}
