.homepageContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    margin-top: 15%;
    margin-bottom: 25%;
}

.hero {
    font-size: 2.5rem;
    margin: auto;
    text-align: center;
    color: var(--text-color);
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    margin-top: 70px;
    background-color: var(--accent-color);
    color: var(--background-color);
    height: 50px;
    width: 160px;
    border-radius: 5px;
    font-size: 1.2rem;
    outline: none;
    border: none;
}

.btn:hover {
    background-color: #ec7855;
    box-shadow: 10px 10px 10px #bbb8b2;
    cursor: pointer;
    transition: 0.2s;
}

.btn:active {
    box-shadow: none;
}