.card {
    display: flex;
    height: 80%;
}

.description {
    box-sizing: border-box;
    padding: 64px;
}

.leftSide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leftSide img {
    height: 70%;
}