.card {
    display: flex;
    height: 75%;
    margin-top: 5%;
    width: 900px;
    margin: auto;
}

.leftSide {
    height: 100%;
    width: 50%;
}

.leftSide img {
    box-sizing: border-box;
    padding: 48px;
    width: 90%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 72px;
    box-sizing: border-box;
    padding: 48px;
    width: 50%;
}

.rightSide h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.productLastLine {
    flex-grow: 2;
    padding-left: 16px;
    padding-right: 16px;
}

.price {
    font-size: 1.2rem;
    font-weight: 550;
}

.description {
    line-height: 1.5em;
}

@media (max-width: 1300px) {
    .leftSide img {
        padding: 00px;
    }

    .rightSide {
        padding: 0px;
    }

    .card {
        gap: 20px
    }
}

@media (max-width: 1050px) {
    .card {
        width: 750px;
    }
}

@media (max-width: 900px) {
    .card {
        width: 650px;
    }
}

@media (max-width: 750px) {
    .card {
        width: 600px;
    }
}

@media (max-width: 700px) {
    .card {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        box-sizing: border-box;
        max-width: 400px;
        gap: 30px;
    }

    .rightSide {
        width: 75%;
        gap: 20px;
    }
    .description {
        width: 100%;
    }   
}


@media (max-width: 450px) {
    .card {
        max-width: 300px;
    }
}