.card {
    display: flex;
    height: 80%;
}

.description {
    box-sizing: border-box;
    padding: 64px;
}

.leftSide {
    height: 100%;
}

.leftSide img {
    height: 70%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rightSide h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

.price {
    font-size: 1.1rem;
    font-weight: 500;
}