html {
    --accent-color: #ff7b54;
    --background-color: #faf7f2;
    --text-color: #534b49;
    --border: #dbd3d3;
    --shadow: #bbb8b2;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    max-width: 1200px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

header {
    height: 10vh;
    color: var(--text-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 50px;
}

.logo {
    font-size: 3rem;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

main {
    min-height: calc(100vh - 20vh);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.manropeFont {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.nav-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 1.2rem;
}

footer a {
    color: var(--text-color);
}

