html {
    --accent-color: #ff7b54;
    --background-color: #faf7f2;
    --text-color: #534b49;
    --border: #dbd3d3;
    --shadow: #bbb8b2;
}

body {
    box-sizing: border-box;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

header {
    height: 10vh;
    color: var(--text-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 50px;
}

.logo {
    font-size: 3rem;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

main {
    min-height: calc(100vh - 20vh);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
}

.manropeFont {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.nav-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 1.2rem;
}

footer a {
    color: var(--text-color);
}

.accordion-menu:hover {
    cursor: pointer;
    outline: 1px solid var(--border);
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    box-shadow: 2px 2px 2px var(--shadow);
    top: 0px;
    padding: 5px;
}

.dropdown-item {
    padding: 5px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    width: 100px;
}

.non-visible {
    display: none;
}

@media (min-width: 1300px) {
    #root {
        width: 1200px;
    }
}

@media (max-width: 1300px) {
    #root {
        max-width: 1200px;
        
    }    
}

@media (max-width: 1200px) {
    #root {
        max-width: 1200px;
        margin-right: 25px;
        margin-left: 45px;
    }    
}

@media (max-width: 1100px) {
    #root {
        max-width: 900px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }
}

@media (max-width: 1000px) {
    #root {
        max-width: 800px;
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }
}

@media (max-width: 850px) {
    #root {
        max-width: 700px;
    }
}

@media (max-width: 750px) {
    #root {
        max-width: 600px;
    }
}

@media (max-width: 650px) {
    #root {
        max-width: 500px;
    }
}

@media (max-width: 600px) {
    #root {
        max-width: 400px;
    }
}

@media (max-width: 400px) {
    #root {
        max-width: 300px;
    }
}

@media (max-width: 450px) {
    #root {
        max-width: 380px;
    }
}

@media (max-width: 400px) {
    #root {
        max-width: 300px;
    }
}

@media (min-width: 600px) {
    .accordion-menu {
        display: none;
    }

    .dropdown {
        display: none;
    }
}

@media (max-width: 599px) {
    .links {
        display: none;
    }
}

