html {
    --accent-color: #ff7b54;
    --background-color: #faf7f2;
    --text-color: #534b49;
    --border: #cecbcb;
}

body {
    height: 100vh;
    box-sizing: border-box;
}

#root {
    height: 100%;
}

header {
    height: 10%;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    gap: 50px;
}

.logo {
    font-size: 2.5rem;
}

.roboto-condensed-font {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
