html {
    --accent-color: #ff7b54;
    --background-color: #faf7f2;
    --text-color: #534b49;
    --border: #cecbcb;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--background-color);
}

#root {
    height: 100%;
}

header {
    height: 10%;
    width: 60%;
    margin: auto;
    color: var(--text-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 50px;
}

.logo {
    font-size: 3rem;
}

.dm-serif-text-regular {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

main {
    width: 60%;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.manropeFont {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.nav-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

